@model IEnumerable<OpenIdDictMvcLib.Dto.OidcGroupDto>
@using OpenIdDictMvcLib.Dto
﻿
﻿@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using OpenIdDictMvcLib.Localizers;

@inject IHtmlLocalizer<OidcUserGroupLocalizerResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Add Roles"];
    PageDto pager = ViewBag.Pager as PageDto ?? new PageDto() { PrintFrom = 1, PrintTo=0 };
    string searchstr = ViewBag.SearchString;
    if (searchstr == null) searchstr = ""; // prepare for Uri.EscapeDataString
    string searchbyid = ViewBag.SearchById;
    if (searchbyid == null) searchbyid = "0";
    string userid  = ViewBag.UserId;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></li>
        <li class="breadcrumb-item"><a asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a></li>
        <li class="breadcrumb-item"><a asp-controller="OidcUserGroups" asp-action="Index" asp-route-userid="@userid">@SharedLocalizer["User Groups"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@SharedLocalizer["Add new Groups to a user"]</li>
    </ol>
</nav>


<h1>@SharedLocalizer["Add new Groups to a user"]</h1>

@using (Html.BeginForm(FormMethod.Get))
{
    <input type="hidden" name="userid" value="@userid" />
    <div class="row g-3">
        <div class="col-auto form-group">
            @Html.DropDownList("searchby", ViewBag.SearchBy as List<SelectListItem>, htmlAttributes: new { @class = "form-control-sm" })
        </div>
        <div class="col-auto form-group">
            @Html.TextBox("searchstr", searchstr, null, htmlAttributes: new { @class = "form-control-sm" })
        </div>
        <div class="col-auto form-group">
            <input type="submit" value="@SharedLocalizer["Search"]" class="btn btn-info btn-sm" />
            <a class="btn btn-outline-info btn-sm" asp-action="Index" asp-route-userid="@userid">@SharedLocalizer["Back to User Groups"]</a>
        </div>
    </div>
}
@using (Html.BeginForm(FormMethod.Post))
{
    Html.Hidden("userid", userid);

    <div class="table-responsive text-nowrap" style="overflow-x: visible; overflow-y: visible;">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    <button type="submit" class="btn btn-sm btn-primary">
                        @SharedLocalizer["Add Groups"]
                    </button>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OidcGroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OidcGroupDisplayName)
                </th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    <input type="checkbox" name="oidcgroupids" value="@item.OidcGroupId"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OidcGroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OidcGroupDisplayName)
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
}


<nav aria-label="Page navigation">
    <ul class="pagination flex-wrap">
        <li class="page-item @(pager.CurrentPage > 1 ? " " : " disabled" )">
            <a asp-route-currpg="1" asp-route-userid="@userid" asp-route-searchby="@searchbyid" asp-route-searchstr="@Uri.EscapeDataString(searchstr)"
               class="page-link" aria-label="Frist">
                <span aria-hidden="true">|<</span>
                
            </a>
        </li>
        <li class="page-item @(pager.CurrentPage > 1 ? " " : " disabled" )">
            <a asp-route-currpg="@(pager.CurrentPage - 1)" asp-route-userid="@userid" asp-route-searchby="@searchbyid" asp-route-searchstr="@Uri.EscapeDataString(searchstr)"
               class="page-link" aria-label="Previous">
                <span aria-hidden="true"><</span>
                
            </a>
        </li>
        @for (var i = pager.PrintFrom; i <= pager.PrintTo; i++)
        {
            <li class="page-item @(i == pager.CurrentPage ? "active disabled" : "")">
                <a asp-route-currpg="@i" asp-route-userid="@userid" asp-route-searchby="@searchbyid" asp-route-searchstr="@Uri.EscapeDataString(searchstr)"
                    class="page-link">@i</a>
            </li>
        }
        <li class="page-item @(pager.CurrentPage < pager.PageCount ? " " : " disabled" )">
            <a asp-route-currpg="@(pager.CurrentPage + 1)" asp-route-userid="@userid" asp-route-searchby="@searchbyid" asp-route-searchstr="@Uri.EscapeDataString(searchstr)"
               class="page-link" aria-label="Next">
                <span aria-hidden="true">></span>
                
            </a>
        </li>
        <li class="page-item @(pager.CurrentPage < pager.PageCount ? " " : " disabled" )">
            <a asp-route-currpg="@pager.PageCount" asp-route-userid="@userid" asp-route-searchby="@searchbyid" asp-route-searchstr="@Uri.EscapeDataString(searchstr)"
               class="page-link" aria-label="Last">
                <span aria-hidden="true">>|</span>
                
            </a>
        </li>
    </ul>
</nav>
