@model IEnumerable<OpenIdDictMvcLib.Dto.OidcScopeDto>

@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using OpenIdDictMvcLib.Localizers;
@inject IHtmlLocalizer<OidcScopeLocalizerResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Scopes"];
    string IdType = ViewBag.IdType ?? "";
    string PrntId = (ViewBag.PrntId ?? "").Trim();
}
@if ((IdType == "user") && (!string.IsNullOrEmpty(PrntId)))
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></li>
            <li class="breadcrumb-item"><a asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@SharedLocalizer["User Scopes"]</li>
        </ol>
    </nav>
    <h1>@SharedLocalizer["User Scopes"]</h1>
}
else if ((IdType == "group") && (!string.IsNullOrEmpty(PrntId)))
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@SharedLocalizer["Home"]</a></li>
            <li class="breadcrumb-item"><a asp-controller="OidcGroups" asp-action="Index">@SharedLocalizer["Groups"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@SharedLocalizer["Group Scopes"]</li>
        </ol>
    </nav>
    <h1>@SharedLocalizer["Group Scopes"]</h1>
}



<div class="table-responsive text-nowrap" style="overflow-x: visible; overflow-y: visible;">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    @if (((IdType == "user") || (IdType == "group")) && (!string.IsNullOrEmpty(PrntId)))
                    {
                    <a class="btn btn-primary btn-sm" asp-action="Create" asp-route-idtype="@IdType" asp-route-prntid="@PrntId">@SharedLocalizer["Create New"]</a>
                    }
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OidcParentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OidcAppName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OidcScopes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OidcAudiences)
                </th>
            </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="dropdown" >
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="Edit" asp-route-idtype="@IdType" asp-route-prntid="@PrntId" asp-route-oidcappname="@item.OidcAppName">@SharedLocalizer["Edit"]</a></li>
                        <li><a class="dropdown-item" asp-action="Details" asp-route-idtype="@IdType" asp-route-prntid="@PrntId" asp-route-oidcappname="@item.OidcAppName">@SharedLocalizer["Details"]</a></li>
                        <li><a class="dropdown-item" asp-action="Delete" asp-route-idtype="@IdType" asp-route-prntid="@PrntId" asp-route-oidcappname="@item.OidcAppName">@SharedLocalizer["Delete"]</a></li>
                    </ul>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OidcParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OidcAppName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OidcScopes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OidcAudiences)
            </td>
        </tr>
}
    </tbody>
</table>
</div>